<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AviaCoupsSale.Properties.Settings.StrConn" connectionString="Data Source=AISHA\SQLEXPRESS;Initial Catalog=AviaCoupSale;Persist Security Info=True;User ID=AviaCoupSale;Password=Avia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>